.block.category
  %h3
    教學分類
  .body
    %label.checkbox.line
      %input{:type => "checkbox", :checked => "true"}
        全部分類( 220 )
    .checkbox-group
      %label.checkbox
        %input{:type => "checkbox", :checked => "false"}
          彩妝( 220 )
        .checkbox-group
          %label.checkbox
            %input{:type => "checkbox"}
              眼部彩妝( 220 )
          %label.checkbox
            %input{:type => "checkbox"}
              全臉妝容( 220 )
          %label.checkbox
            %input{:type => "checkbox"}
              指甲彩繪( 220 )
          %label.checkbox
            %input{:type => "checkbox"}
              其他( 220 )
      %label.checkbox
        %input{:type => "checkbox"}
          臉部保養( 220 )
      %label.checkbox
        %input{:type => "checkbox"}
          身體保養( 220 )