.info
  .category
    = link_to ' 臉部彩妝', '#', :title => "臉部彩妝"
    >
    = link_to ' 眼妝教學', '#', :title => "眼妝教學"
  .level
    難易度：★★
  .clearfix
%h1
  【分享】注目！女神LENA眼妝教學
.data
  .avatar
    = image_tag "http://placehold.it/30x40"
  .user_id
    =link_to "Dahlia", "#"
  .meta
    %span
      混合膚質
    %span
      │
    %span
      26歲
  .clearfix
.final_pic
  = image_tag "http://placehold.it/340x255"
.block.intro
  .title
    %h3
      教學介紹
    .clearfix
  .body
    驚天動地~77涵初次嘗試眼妝文教學！！
    這次要教學的眼妝，是各位心目中的女神ＬＥＮＡ，
    特色是：不用戴放大片卻擁有迷人有神的大眼睛，
    因為是初次發妝文，所以這對我來說也是一個挑戰。
    話說這次的仿ＬＥＮＡ妝文，
    其實也是我平常在練習畫得妝容，
    因為很喜歡ＬＥＮＡ這種，能將自己眼睛優點呈現出來，
    卻不會有層層疊疊的厚重感，這才是真正的漂亮。