.howto_raw {
  .date {
    float: left;
    font-size: 14px;
    color: grey;
  }
  h4 {
    float: right;
    font-size: 18px;
    padding-bottom: 10px;
  }
  .body {
    .info {
      width: 48%;
      margin-left: 3px;
      float: left;
      .category {
        float: left;
        margin-bottom: 10px;
      }
      .sort {
        float: right;
        margin-bottom: 10px;
      }
      .intro {
        line-height: 1.7;
        overflow: hidden;
        height: 150px;
        margin-bottom: 10px;
      }
      .meta {
        text-align: right;
        span {
          margin-right: 5px;
        }
      }
    }
    .cover {
      float: right;
    }
  }
}