body.index {
  .sidebar {
    padding: 50px 0 0 30px;
    background-color: #EDD5D9;
    width: 230px;
    height: 1100px;
    float: left;
    label {
      margin: 7px 0;
    }
  }
}

body.input {
  .sidebar {
    padding: 50px 10px 0 10px;
    background-color: #EDD5D9;
    width: 340px;
    height: 700px;
    float: left;
    .info {
      .category {
        float: left;
      }
      .level {
        float: right;
      }
    }
    h1 {
      font-size: 20px;
      margin: 10px 0;
    }
    .data {
      line-height: 40px;
      margin-bottom: 15px;
      .avatar {
        float: left;
      }
      .user_id {
        float: left;
        margin-left:10px;
      }
      .meta {
        float: left;
        margin-left:10px;
      }
    }
  }
}

body.output {
  .sidebar {
    padding: 50px 10px 0 10px;
    background-color: #EDD5D9;
    width: 340px;
    height: 700px;
    float: left;
    .info {
      .category {
        float: left;
      }
      .level {
        float: right;
      }
    }
    h1 {
      font-size: 20px;
      margin: 10px 0;
    }
    .data {
      line-height: 40px;
      margin-bottom: 15px;
      .avatar {
        float: left;
      }
      .user_id {
        float: left;
        margin-left:10px;
      }
      .meta {
        float: left;
        margin-left:10px;
      }
    }
  }
}

body.mypage {
  .sidebar {
    background-color: #EDD5D9;
    width: 300px;
    height: 790px;
    float: left;
    padding:25px 15px;
    .user_data {
      margin-bottom: 15px;
      .body {
        margin-bottom: 15px;
        .avatar {
        float: left;
        }
      }
    .data {
      float: left;
      margin: 10px;
      h1 {
        margin-bottom: 15px;
      }
      .meta {
        font-size: 14px;
        margin-bottom: 15px;
      }
      .follow_me {
        text-align: center;
        .btn {
          i {
            vertical-align: middle;
          }
        }
      }
    }
    .stats {
      font-size: 16px;
      margin: 20px 0;
      float: left;
      .total {
        margin-bottom: 5px;
      }
      ul {
        font-size: 14px;
        padding-left: 15px;
        li {
          line-height: 1.3;
        }
      }
    }
  }
    .followers {
      margin-bottom: 25px;
      .title {
        font-size: 16px;
        margin-bottom: 5px;
      }
    }
    .following {
      .title {
        font-size: 16px;
        margin-bottom: 5px;
        .edit {
          float: right;
          font-size: 12px;
        }
      }
    }
  }
}
