@import "bootstrap";
@import "bootstrap-responsive";
@import "compass";


@import "how_to";
@import "box";
@import "topbar";
@import "sidebar";
@import "foot";
@import "howto_cell";

body {
  color: #666666;
}

.container {
  margin-left: none;
  margin-right: none;
}