.block.user_data
  .body
    .avatar
      = image_tag "http://placehold.it/280x210"
    .data
      %h1
        77涵
      .meta
        %span
          混合膚質
        %span
          │
        %span
          26歲
      .follow_me
        .btn.btn-info
          %i.icon-eye-open.icon-white
          追蹤作者
    .stats
      .total
        教學：25篇
      %ul
        %li
          眼部彩妝：
          =link_to '5篇', "#"
        %li
          眼部彩妝：
          =link_to '5篇', "#"
        %li
          眼部彩妝：
          =link_to '5篇', "#"
        %li
          眼部彩妝：
          =link_to '5篇', "#"
    .clearfix
.block.followers
  .title
    粉絲（16人）
  .body
    .avatars
      - 9.times do |i|
        = image_tag "http://placehold.it/30x30"
      .clearfix
.block.following
  .title
    追蹤（16人）
  .body
    .avatars
      - 9.times do |i|
        = image_tag "http://placehold.it/30x30"
      .clearfix