%span.links
  =link_to '關於 美妝好圖',"#"
  |
  =link_to '合作提案',"#"
  |
  =link_to '免責．隱私權保護',"#"
  |
  =link_to '服務條款',"#"
  |
  =link_to '常見問題',"#"
  |
  =link_to '聯絡我們',"#"
.clearfix
%span.copyright
  Copyright © 2012 All right reserved. Produced by i-TRUE Communications Inc.
.clearfix
%span.partnership
  Partnership with urcosme.com
.clearfix