.box.howto_cell
  .cover
    = image_tag "http://placehold.it/240x180"
  %h3
    =link_to '【分享】注目！女神LENA眼妝教學', "#"
  .body
    .data
      %span.category
        =link_to '眼妝教學', "#"
      %span.level
        ★★
    .meta
      %span.like-count
        %i.icon-heart
        100
      %span.view-count
        %i.icon-eye-open
        100
    .clearfix