.progress_area
  .title
    %h3
      目前進度
    .clearfix
  .body
    .step.box.step_active
      教學基本資訊
    .next
      →
    .step.box
      開始寫教學正文囉！
    .next
      →
    .step.box
      最後一步！來挑挑
      %br
      這次用到的美妝品
    .clearfix