.urcosme
  =link_to'回UrCosme首頁',"#"

.toparea
  .logo
  .text
  .login_area
    .login
      %form.well
        %span.help-inline
          ="電子信箱"
        %input.span3{:placeholder => "sample@5fpro.com", :type => "text"}
        .clearfix
        %span.help-inline
          ="　　密碼"
        %input.pw{:placeholder => "password", :type => "password"}
        %bottum.btn.btn-small.btn-primary{:type => "submit"}
          ="登入"
      .open_id
        其它ID
        %span.fb_icon
        %span.y_icon
      .password
        .fogot_pw
          =link_to'忘記密碼',"#"
        .remember_pw
          %label.checkbox
            %input{:type => "checkbox", :checked => "true"}
              記住密碼
        .clearfix
      .clearfix
  .clearfix
.topbar.navbar.subnav
  .navbar-inner
    .container
      %a.btn.btn-navbar{ :data => { :toggle => :collapse, :target => '.nav-collapse' } }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'how to ...', root_path, :title => "how to ...", :class => :brand
      .nav-collapse.collapse
        %ul.nav
          %li.active
            =link_to '首頁', root_path
          %li
            =link_to ' 隨便逛逛', output_path
          %li.divider-vertical
        %form.navbar-search.pull-left
          %input.search-query{:placeholder => "Search", :type => "text"}
        %ul.nav.pull-right
          %li.divider-vertical
          %li
            %bottum.btn.btn-inverse
              %i.icon-white.icon-star
              ="10"
          %li.divider-vertical
          %li
            %bottum.btn.btn-info
              %i.icon-white.icon-user
              = link_to "my page", mypage_path
          %li.divider-vertical
          %li
            %bottum.btn.btn-success
              %i.icon-white.icon-edit
              = link_to "發表教學", input_path
