.box.tryto_cell
  %h4
    =link_to '【分享】注目！女神LENA眼妝教學', "#"
  .body
    .info
      .date
        2012/xx/xx
      .intro
        比想像中的簡單呢^O^造著步驟做...不知不覺就畫出想像中的效果(ˊ艸ˋ**
    .cover
      = image_tag "http://placehold.it/200x150"
    .clearfix